SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/nihongo_app?useSSL=false&serverTimezone=Asia/Bangkok&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD="Vudeptrai1@"
